{% extends "main.html" %}
{% block title %}Project-Details{% endblock %}
{% block body %}
  <main>
    {% if success %}
    <div class="alert alert-primary" role="alert">
      {{success}}
    </div>
    {% endif %}
    {% if fail %}
    <div class="alert alert-danger" role="alert">
      <p>{{fail}}</p>
      {% for field in form%}
      {% if field.errors%}
      <h6 class="test-size-custom">{{field.label_tag}}</h6>
      <ul class="test-size-custom">
      {% for error in field.errors%}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    <h2 style="text-align: center;">PROJECT DETAILS</h2>
    {% for i in data %}
    <ul class="list-group p-3">
        <li class="list-group-item" >Project ID - {{i.ProjectId}}</li>
        <li class="list-group-item" >Title - {{i.Title}}</li>
        <li class="list-group-item" >Department - {{i.Department}}</li>
        <li class="list-group-item" >Status - {{i.Status}}</li>
        <li class="list-group-item" >Priority - {{i.Priority}}</li>
        <li class="list-group-item" >Duration - {{i.From}} to {{i.To}}</li>
    </ul>
    {% endfor %}
  </main>
  <footer>
    <!-- place footer here -->
  </footer>

{% endblock %}